// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Pages
@import 'auth';

.fantastik-nav {
    font-weight: 500;
    font-family: roboto, arial;
    font-size: 14px !important;
    border-bottom: 1px solid rgb(241,241,241);
    text-transform: uppercase;
    background-color: white;
    .btn.btn-nav {
        background-color: rgb(255,122,0);
        color: white;
        font-size: 14px;
        margin: 0 1em;
        font-weight: 500;
    }
    .nav-item {
        text-align: center;
    }
    .navbar-toggler {
        border: 0;
    }
}
.welcome-section {
    min-height: 400px;
    background-image: url(../images/section.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #000000;
    opacity: 1;
    display: table;
    position: relative;
    background-size: cover;
    background-position: center;
    height: 90vh;
    color: #fff;
    width: 100%;
    .container {
        position: relative;
        display: table-cell;
        text-align: center;
        vertical-align: middle;
        z-index: 1;
        background: rgba(0,11,28,0.25);
        width: 100%;
    }
    .btn {
        margin: 1em;
        text-transform: uppercase;
        font-weight: 500;
    }
    .btn.btn-meet {
        background-color: rgb(255,122,0);
        text-transform: uppercase;
        font-weight: 500;
    }
    .btn.btn-join {
        border: 2px solid white;
    }
}
.covid-section {
    padding: 20px;
    text-align: center;
    background: #0080ff;
    font-size: 20px;
    color: white;
    p {
        font-size: 16px;
    }
}
.room-section {
    min-height: 100vh;
    min-width: 100%;
}
.photo-section {
    background-image: url(../images/headway.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #000000;
}

.code-input {
    height: 2.6em;
    font-size: 20px;
}

.code-card {
    max-width: 400px;
    margin: 2em auto;
}

.btn.btn-code {
    background-color: rgb(255, 122, 0);
    color: white;
}

.video-section {
    background-color: rgb(27,27,27);
    min-height: 2em;
    padding: 1.5em 0;
}

.video-controls {
    background-color: rgb(27,27,27);
    text-align: center;
    margin-top: 12px;
    }

.video-controls .btn, .chat-room-section .btn {
    margin: 0 .5em;
    width: 50px;
    height: 50px;
    color: white;
    border-radius: 50em;
}

.btn.btn-close-call {
    background-color: red;
}   

.btn.btn-close-call:hover {
    background-color: rgb(218,24,24);
}

.btn.btn-microphone {
    background-color: white;
    color: rgb(30,30,30);
}

.btn.btn-microphone:hover {
    background-color: rgb(240,240,240);
}

.btn.btn-screen-share {
    background-color: white;
    color: rgb(30,30,30);
}

.btn.btn-screen-share:hover {
    background-color: rgb(240,240,240);
}

.chat-room-section {
    padding: 2em 0;
}

.messages {
    height: 460px;
    overflow-y: scroll;
}

.chat-input {
    width: 100%;
    border: 0;
    background-color: rgb(242,242,242);
    height: 42px;
    border-radius: 50px;
}

.chat-input:focus {
    border: 0;
    box-shadow: none;
    background-color: rgb(238,238,238);
}

.btn.btn-send {
    background-color: #0080FF;
    height: 42px;
    width: 42px;
    margin-left: -50px;
}

.message {
    width: auto;
    margin: 1em auto;
    background-color: rgb(245,245,245);
    color: rgb(68,68,68);
    padding: 1em;
    border-radius: 8px;
}

.sender-name {
    color: #0080FF;
    margin-bottom: 4px;
    font-weight: 500;
}

.writing-section {
    margin-top: 1em;
}